.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 10px;
  }
  
  .full-width {
    width: 100%;
  }
  .optional-checkbox {
    margin-top: -10px;
    margin-bottom: 12px;
    font-size: 0.95rem;
  
    mat-checkbox {
      font-weight: 500;
      color: #666;
    }
  }
  .installment-info {
    font-size: 0.95rem;
    font-weight: 500;
    color: #5c3bff;
    margin-top: 10px;
  }
  