:host {
  display: block;
}

.main-content {
  padding-top: 0; // default — no navbar
  min-height: 100vh;
  background-color: #f9f9f9;

  &.with-navbar {
    padding-top: 64px; // add space only if navbar is present
  }
}
